USE [AIDB]
GO
/****** Object:  Table [dbo].[CONGTHUCMON]    Script Date: 6/3/2021 9:15:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUCMON](
	[IDMon] [int] NOT NULL,
	[TenMon] [nchar](50) NULL,
	[IDNL] [int] NOT NULL,
	[LieuLuong] [int] NULL,
 CONSTRAINT [PK_CONGTHUCMON_1] PRIMARY KEY CLUSTERED 
(
	[IDMon] ASC,
	[IDNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON]    Script Date: 6/3/2021 9:15:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[ID] [int] NOT NULL,
	[TenMon] [nchar](50) NULL,
	[TongNguyenLieu] [int] NULL,
	[Calo] [float] NULL,
	[NhomMon] [int] NULL,
 CONSTRAINT [PK_MON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 6/3/2021 9:15:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[ID] [int] NOT NULL,
	[TenNL] [nchar](50) NULL,
	[NhomNL] [int] NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PK_CONGTHUCMON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMMON]    Script Date: 6/3/2021 9:15:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMMON](
	[ID] [int] NOT NULL,
	[TenNhom] [nchar](50) NULL,
 CONSTRAINT [PK_NHOMMON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUYENLIEU]    Script Date: 6/3/2021 9:15:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUYENLIEU](
	[ID] [int] NOT NULL,
	[TenNhom] [nchar](50) NULL,
 CONSTRAINT [PK_NHOMNGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONGTHUCMON]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUCMON_MON] FOREIGN KEY([IDMon])
REFERENCES [dbo].[MON] ([ID])
GO
ALTER TABLE [dbo].[CONGTHUCMON] CHECK CONSTRAINT [FK_CONGTHUCMON_MON]
GO
ALTER TABLE [dbo].[CONGTHUCMON]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUCMON_NGUYENLIEU] FOREIGN KEY([IDNL])
REFERENCES [dbo].[NGUYENLIEU] ([ID])
GO
ALTER TABLE [dbo].[CONGTHUCMON] CHECK CONSTRAINT [FK_CONGTHUCMON_NGUYENLIEU]
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD  CONSTRAINT [FK_MON_NHOMMON] FOREIGN KEY([NhomMon])
REFERENCES [dbo].[NHOMMON] ([ID])
GO
ALTER TABLE [dbo].[MON] CHECK CONSTRAINT [FK_MON_NHOMMON]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_NHOMNGUYENLIEU] FOREIGN KEY([NhomNL])
REFERENCES [dbo].[NHOMNGUYENLIEU] ([ID])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLIEU_NHOMNGUYENLIEU]
GO
