USE [AIDB]
GO
/****** Object:  Table [dbo].[CONGTHUCMON]    Script Date: 6/15/2021 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTHUCMON](
	[IDMon] [int] NOT NULL,
	[TenMon] [nchar](50) NULL,
	[IDNL] [int] NOT NULL,
	[LieuLuong] [int] NULL,
 CONSTRAINT [PK_CONGTHUCMON_1] PRIMARY KEY CLUSTERED 
(
	[IDMon] ASC,
	[IDNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON]    Script Date: 6/15/2021 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[ID] [int] NOT NULL,
	[TenMon] [nchar](50) NULL,
	[TongNguyenLieu] [int] NULL,
	[Calo] [float] NULL,
	[NhomMon] [int] NULL,
 CONSTRAINT [PK_MON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 6/15/2021 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[ID] [int] NOT NULL,
	[TenNL] [nchar](50) NULL,
	[NhomNL] [int] NULL,
	[SoLuong] [float] NULL,
 CONSTRAINT [PK_CONGTHUCMON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMMON]    Script Date: 6/15/2021 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMMON](
	[ID] [int] NOT NULL,
	[TenNhom] [nchar](50) NULL,
 CONSTRAINT [PK_NHOMMON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUYENLIEU]    Script Date: 6/15/2021 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUYENLIEU](
	[ID] [int] NOT NULL,
	[TenNhom] [nchar](50) NULL,
 CONSTRAINT [PK_NHOMNGUYENLIEU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CONGTHUCMON] ([IDMon], [TenMon], [IDNL], [LieuLuong]) VALUES (10001, N'Bông Cải Xanh Luộc                                ', 60103, 1)
INSERT [dbo].[CONGTHUCMON] ([IDMon], [TenMon], [IDNL], [LieuLuong]) VALUES (10001, N'Bông Cải Xanh Luộc                                ', 70011, 1)
INSERT [dbo].[CONGTHUCMON] ([IDMon], [TenMon], [IDNL], [LieuLuong]) VALUES (10001, N'Bông Cải Xanh Luộc                                ', 70014, 1)
GO
INSERT [dbo].[MON] ([ID], [TenMon], [TongNguyenLieu], [Calo], [NhomMon]) VALUES (10001, N'Bông Cải Xanh Luộc                                ', 3, 100, 10)
INSERT [dbo].[MON] ([ID], [TenMon], [TongNguyenLieu], [Calo], [NhomMon]) VALUES (10002, N'Đậu Bắp Luộc                                      ', 3, 100, 10)
INSERT [dbo].[MON] ([ID], [TenMon], [TongNguyenLieu], [Calo], [NhomMon]) VALUES (10003, N'Bầu Luộc                                          ', 3, 100, 10)
GO
INSERT [dbo].[NGUYENLIEU] ([ID], [TenNL], [NhomNL], [SoLuong]) VALUES (50000, N'Thịt Bò                                           ', 50, 0)
INSERT [dbo].[NGUYENLIEU] ([ID], [TenNL], [NhomNL], [SoLuong]) VALUES (50001, N'Thịt Heo                                          ', 50, 0)
INSERT [dbo].[NGUYENLIEU] ([ID], [TenNL], [NhomNL], [SoLuong]) VALUES (50002, N'Thịt Gà                                           ', 50, 0)
GO
INSERT [dbo].[NHOMMON] ([ID], [TenNhom]) VALUES (10, N'Món Luộc                                          ')
INSERT [dbo].[NHOMMON] ([ID], [TenNhom]) VALUES (15, N'Món Hấp                                           ')
INSERT [dbo].[NHOMMON] ([ID], [TenNhom]) VALUES (20, N'Món Kho                                           ')
GO
INSERT [dbo].[NHOMNGUYENLIEU] ([ID], [TenNhom]) VALUES (50, N'Động Vật                                          ')
INSERT [dbo].[NHOMNGUYENLIEU] ([ID], [TenNhom]) VALUES (60, N'Thực Vật                                          ')
INSERT [dbo].[NHOMNGUYENLIEU] ([ID], [TenNhom]) VALUES (70, N'Gia Vị                                            ')
GO
ALTER TABLE [dbo].[CONGTHUCMON]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUCMON_MON] FOREIGN KEY([IDMon])
REFERENCES [dbo].[MON] ([ID])
GO
ALTER TABLE [dbo].[CONGTHUCMON] CHECK CONSTRAINT [FK_CONGTHUCMON_MON]
GO
ALTER TABLE [dbo].[CONGTHUCMON]  WITH CHECK ADD  CONSTRAINT [FK_CONGTHUCMON_NGUYENLIEU] FOREIGN KEY([IDNL])
REFERENCES [dbo].[NGUYENLIEU] ([ID])
GO
ALTER TABLE [dbo].[CONGTHUCMON] CHECK CONSTRAINT [FK_CONGTHUCMON_NGUYENLIEU]
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD  CONSTRAINT [FK_MON_NHOMMON] FOREIGN KEY([NhomMon])
REFERENCES [dbo].[NHOMMON] ([ID])
GO
ALTER TABLE [dbo].[MON] CHECK CONSTRAINT [FK_MON_NHOMMON]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_NHOMNGUYENLIEU] FOREIGN KEY([NhomNL])
REFERENCES [dbo].[NHOMNGUYENLIEU] ([ID])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLIEU_NHOMNGUYENLIEU]
GO
